@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
  background: url('http://all4desktop.com/data_images/original/4236532-background-images.jpg');
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 600px;
  position: relative;
  padding-top: 40px; /* Để đảm bảo link không che mất phần trên */
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

/* Khung và màu sắc cho thông báo */
#resultBox {
  display: inline-block;
  padding: 20px;
  border-radius: 8px;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

#resultSuccess {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

#resultFailure {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.home-link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

.home-link:hover {
  text-decoration: underline;
  color: #0056b3;
}