<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kết quả thanh toán</title>
  <link rel="stylesheet" href="/css/result.css" />
</head>
<body>
  <div class="container">
    <a id="homeLink" href="/" class="home-link">Quay về trang chủ</a>
    <h1>Kết quả thanh toán</h1>
    <div id="resultBox">
      <div id="resultSuccess"></div>
      <div id="resultFailure"></div>
    </div>
  </div>
  <script src="/js/result.js"></script>
</body>
</html>